q-card(flat inline)
  q-card-title Existing for
    q-select(
      style="inline-block"
      slot="subtitle"
      :value="reportFormData.existing.name"
      :options="mapClientAndPartnerNameValues"
      @change="value => updateInsuranceProviderField(value, ['reportFormData', 'existing', 'name'])"
    )
  q-card-main
    div(class="row gutter-md")
      div(class="col-md-4")
        q-field(
          class="q-mt-md"
          label="Policy Provider"
          orientation="vertical"
        )
          q-select(
            :value="reportFormData.existing.policy.provider"
            :options="mapInsuranceProviders"
            @change="value => updateInsuranceProviderField(value, ['reportFormData', 'existing', 'policy', 'provider'])")
      div(class="col-md-4")
        q-field(
          class="q-mt-md"
          label="Cover Type"
          orientation="vertical"
        )
          q-select(
            v-if="getExistingMapCurrentSelectedInsuranceProviderCoverTypes.length"
            :value="reportFormData.existing.policy.cover_type"
            :options="getExistingMapCurrentSelectedInsuranceProviderCoverTypes"
            @change="value => updateInsuranceProviderField(value, ['reportFormData', 'existing', 'policy', 'cover_type'])"
          )
          q-input(
            v-else
            :value="reportFormData.existing.policy.cover_type"
            @change="value => updateInsuranceProviderField(value, ['reportFormData', 'existing', 'policy', 'cover_type'])"
          )
      div(class="col-md-4")
        q-field(
          class="q-mt-md"
          label="Sum Assured"
          orientation="vertical"
        )
          q-input(
            type="tel"
            prefix="$"
            align="right"
            v-money="{precision: 2}"
            :value="reportFormData.existing.policy.sum_assured"
            @change="value => updateInsuranceProviderField(value, ['reportFormData', 'existing', 'policy', 'sum_assured'])"
          )
    div(class="row gutter-md")
      div(class="col-md-4")
        q-field(
          class="q-mt-md"
          label="Premium"
          orientation="vertical"
        )
          q-input(
            type="tel"
            prefix="$"
            align="right"
            v-money="{precision: 2}"
            :value="reportFormData.existing.policy.premium"
            @change="value => updateInsuranceProviderField(value, ['reportFormData', 'existing', 'policy', 'premium'])"
          )
      div(class="col-md-8")
        q-field(
          class="q-mt-md"
          label="Notes"
          orientation="vertical"
        )
          q-input(
            type="textarea"
            :value="reportFormData.existing.policy.notes"
            @change="value => updateInsuranceProviderField(value, ['reportFormData', 'existing', 'policy', 'notes'])"
          )
  q-card-actions(align="between")
    q-btn(
      flat
      color="secondary"
      :disabled="!reportFormData.existing.name"
      @click.native="addArrayOfExistingPolicyProviders"
    ) Add
    q-toggle(
      left-label
      color="secondary"
      label="Force Add Proposed"
      v-model="forceAdd.existing"
    )
