<template lang="pug">
  q-page
    div(
      :class="heightSize"
      class="window-height row justify-center"
    )
      q-card(
        inline
        id="login"
        :class="cardWidthSize"
      )
        q-card-title(class="bg-primary")
          svg(
            id="svg-logo"
            viewBox="0 0 483 483"
            style="enable-background:new 0 0 460 460;"
            xml:space="preserve" width="128px" height="128px"
            v-html="logoMethod"
          )
          h4(class="text-white text-center") IPP - Insurance Planner and Plan
        q-card-main(class="q-mt-md justify-center")
          div(class="auth-input")
            q-input(
              autofocus
              float-label="Email"
              type="email"
              v-model="formData.username"
              @keyup.enter="login"
              :disable="buttonState.loaded"
            )
            q-input(
              float-label="Password"
              type="password"
              v-model="formData.password"
              @keyup.enter="login"
              :disable="buttonState.loaded"
            )
        q-card-actions(vertical align="center")
          q-btn(
            :loading="buttonState.loaded"
            :color="buttonState.color"
            :label="buttonState.text"
            @click="login"
            class="fit"
          )
            q-spinner-gears(slot="loading")
</template>

<script>
import Vivus from 'vivus';
import { Notify } from 'quasar';
import { mapActions } from 'vuex';
import LogoData from 'src/services/utils';

export default {
  name: 'auth-index',
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.startLogoAnimation();
    });
  },
  data: () => ({
    formData: {
      username: null,
      password: null,
    },
    buttonState: {
      loaded: false,
      text: 'Login',
      color: 'primary',
    },
  }),
  created() {
    const { DEV } = process.env;
    if (DEV) {
      this.formData = {
        username: 'user@jdlife.co.nz',
        password: '1234',
      };
    }
  },
  methods: {
    ...mapActions('user', ['requestLogin', 'requestUserData']),
    login() {
      Notify.create({
        message: 'Logging in...',
        color: 'positive',
        icon: 'verified user',
      });
      this.buttonState.loaded = true;
      this.requestLogin(this.formData)
        .then(data => {
          this.buttonState.color = 'primary';
          this.buttonState.loaded = false;
          this.requestUserData()
            .then(this.$router.replace({ name: 'dashboard.app' }));
        })
        .catch(() => {
          this.buttonState.color = 'negative';
          this.buttonState.loaded = false;
          this.$router.replace({ name: 'auth' });
        });
    },
    startLogoAnimation() {
      /* eslint-disable */
      const svgLogo = new Vivus('svg-logo', {
        duration: 400,
        forceRender: true,
      }, ((element) => {
          for (const item of element.el.children[0].children) {
            item.setAttribute('style', 'fill:white');
          }
        }));
      /* eslint-enable */
      svgLogo.reset().play();
    },
  },
  computed: {
    heightSize() {
      if (this.$q.platform.is.desktop) {
        return 'items-center';
      }
      return '';
    },
    cardWidthSize() {
      if (this.$q.platform.is.desktop) {
        return 'width-50';
      }
      return 'full-width';
    },
    logoMethod() {
      return LogoData.Keytronic;
    },
  },
};
</script>

<style lang="stylus" scoped>
.width-50
  width 50% !important

.card
  margin-bottom 0px

.card-content
  min-height 160px

button
  margin-bottom 4%

#svg-logo
  margin 1em auto
  display block

.auth-input
  .q-if, .q-field
    margin 16px 0
  .q-field
    .q-if
      margin 0
</style>
