<template lang="pug">
  q-page(padding)
    template(v-if="planners.length")
      div(class="row justify-center")
        div(class="col-md-8")
          q-input(v-model="plannerQuery" float-label="Search for client or company...")
      transition-group(
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
        tag="div"
      )
        div(class="row gutter-sm q-mt-md justify-center" :key="_uid")
          div(class="col-md-3")
            q-card
              q-card-main
                q-btn(
                  flat
                  color="primary"
                  label="Add Planner"
                  class="full-width"
                  style="min-height: 5em"
                  @click="onHandleNewInstance"
                )
        div(
          class="row gutter-sm q-mt-md justify-around"
          v-for="(planners, plannersIndex) in chunkedPlanners"
          :key="plannersIndex"
        )
          div(class="col-md-3" v-for="plan in planners")
            q-card(:key="plan.id" square)
              q-card-title {{ plan.client_full_name }} - \#{{ plan.id }}
                span(slot="subtitle") {{ plan.company_full_name | limit }}
              q-card-actions(align="around")
                q-btn(
                  flat
                  round
                  color="primary"
                  icon="edit"
                  @click="onHandleEdit(plan)"
                )
    div(class="fixed-center text-center" v-else)
      h4(class="text-faded") No Planners Found
      p
        img(
          src="~assets/sad.svg"
          style="width:30vw; max-width:150px;"
        )
      p
        q-btn(
          color="primary"
          label="Add Planner"
          style="width: 200px"
          @click="onHandleNewInstance"
        )
</template>

<script>
import { FieldableMixin } from 'src/mixins';
import { mapGetters, mapActions } from 'vuex';
import PlannerIndex from 'pages/dashboard/planner/Index';
import { chunk, truncate, isEmpty, filter, lowerCase } from 'lodash';
const CHUNK_SIZE = 3;

export default {
  name: 'dashboard-index',
  mixins: [FieldableMixin],
  extends: {
    methods: {
      ...PlannerIndex.methods,
    },
  },
  data: () => ({
    plannerQuery: null,
  }),
  methods: {
    ...mapActions('plannerCollection', ['requestRemovePlanner']),
    onHandleEdit(plan) {
      this.$router.push({ name: 'dashboard.planner', params: { id: plan.id } });
      this.ASSIGN_PLANNER(plan);
    },
  },
  filters: {
    limit(value) {
      if (!value) return 'No Company Name';
      return truncate(value, { length: 20 });
    },
  },
  computed: {
    chunkedPlanners() {
      const query = lowerCase(this.plannerQuery);
      if (isEmpty(query)) return chunk(this.planners, CHUNK_SIZE);
      const values = filter(this.planners, ({ client_full_name: name, company_full_name: company }) => {
        return lowerCase(name).indexOf(query) > -1
          || lowerCase(company).indexOf(query) > -1;
      });
      return chunk(values, CHUNK_SIZE);
    },
    ...mapGetters('plannerCollection', {
      planners: 'planners',
    }),
  },
};
</script>
