q-card(flat inline)
  q-card-title Proposed for
    q-select(
      style="inline-block"
      slot="subtitle"
      :value="reportFormData.proposed.name"
      :options="mapClientAndPartnerNameValues"
      @change="value => updateInsuranceProviderField(value, ['reportFormData', 'proposed', 'name'])"
    )
  q-card-main
    div(class="row gutter-md")
      div(class="col-md-4")
        q-field(
          class="q-mt-md"
          label="Policy Provider"
          orientation="vertical"
        )
          q-select(
            :value="reportFormData.proposed.policy.provider"
            :options="mapInsuranceProviders"
            @change="value => updateInsuranceProviderField(value, ['reportFormData', 'proposed', 'policy', 'provider'])")
      div(class="col-md-4")
        q-field(
          class="q-mt-md"
          label="Cover Type"
          orientation="vertical"
        )
          q-select(
            v-if="getProposedMapCurrentSelectedInsuranceProviderCoverTypes.length"
            :value="reportFormData.proposed.policy.cover_type"
            :options="getProposedMapCurrentSelectedInsuranceProviderCoverTypes"
            @change="value => updateInsuranceProviderField(value, ['reportFormData', 'proposed', 'policy', 'cover_type'])"
          )
          q-input(
            v-else
            :value="reportFormData.proposed.policy.cover_type"
            @change="value => updateInsuranceProviderField(value, ['reportFormData', 'proposed', 'policy', 'cover_type'])"
          )
      div(class="col-md-4")
        q-field(
          class="q-mt-md"
          label="Sum Assured"
          orientation="vertical"
        )
          q-input(
            type="tel"
            prefix="$"
            align="right"
            v-money="{precision: 2}"
            :value="reportFormData.proposed.policy.sum_assured"
            @change="value => updateInsuranceProviderField(value, ['reportFormData', 'proposed', 'policy', 'sum_assured'])"
          )
    div(class="row gutter-md")
      div(class="col-md-4")
        q-field(
          class="q-mt-md"
          label="Premium"
          orientation="vertical"
        )
          q-input(
            type="tel"
            prefix="$"
            align="right"
            v-money="{precision: 2}"
            :value="reportFormData.proposed.policy.premium"
            @change="value => updateInsuranceProviderField(value, ['reportFormData', 'proposed', 'policy', 'premium'])"
          )
      div(class="col-md-8")
        q-field(
          class="q-mt-md"
          label="Notes"
          orientation="vertical"
        )
          q-input(
            type="textarea"
            :value="reportFormData.proposed.policy.notes"
            @change="value => updateInsuranceProviderField(value, ['reportFormData', 'proposed', 'policy', 'notes'])"
          )
  q-card-actions(align="between")
    q-btn(
      flat
      color="secondary"
      :disabled="!reportFormData.proposed.name"
      @click.native="addArrayOfProposedPolicyProviders"
    ) Add
    q-toggle(
      left-label
      color="secondary"
      v-model="forceAdd.proposed"
      label="Force Add Existing"
    )
