q-page-sticky(position="bottom-left" :offset="[18, 18]")
  q-fab(
    color="secondary"
    icon="settings"
    direction="right"
    :size="getFabButtonSize"
  )
    q-tooltip(
      slot="tooltip"
      anchor="center left"
      self="center right"
      :offset="[20, 0]"
    ) Settings
    q-fab-action(
      icon="fast forward"
      color="amber"
      @click="onHandlerSkip"
    )
      q-tooltip(
        anchor="center right"
        self="center left"
        :offset="[20, 0]"
      ) Skip

    q-fab-action(
      icon="save"
      color="primary"
      @click="onHandlePersist"
    )
      q-tooltip(
        anchor="center right"
        self="center left"
        :offset="[20, 0]"
      ) Save
    q-fab-action(
      v-if="plan.id"
      icon="add"
      color="cyan"
      @click="onHandleNewInstance"
    )
      q-tooltip(
        anchor="center right"
        self="center left"
        :offset="[20, 0]"
      ) Create
