<template lang="pug">
  q-modal(
    minimized
    v-model="show"
    no-backdrop-dismiss
    @cancel="$emit('cancel')"
    :content-css="getContentStyles"
  )
    div(class="modal-header")
      h6(slot="header" class="text-faded no-margin-top") Planner Reports
    div(class="modal-body modal-message")
      div(class="row gutter-md justify-center" v-for="(reports, reportsIndex) in getChunkedReports" :key="reportsIndex")
        div(class="col-md-4" v-for="report in reports" :key="report.id")
          q-card(flat class="full-width")
            q-card-title
              q-input(:value="report.name" @change="value => modifyReportItem(value, report, 'name')")
            q-card-main
              q-field(class="q-mt-md")
                q-select(
                  :options="getReportCategories"
                  :value="report.category"
                  @change="value => modifyReportItem(value, report, 'category')"
                )
              q-field(class="q-mt-md")
                q-select(
                  :options="getReportInsurancePlanTypes"
                  :value="report.insurance_plan_type"
                  @change="value => modifyReportItem(value, report, 'insurance_plan_type')"
                )
              q-field(class="q-mt-md")
                q-input(
                  :rows="4"
                  type="textarea"
                  :max-height="90"
                  :value="report.description || 'No Description'"
                  @change="value => modifyReportItem(value, report, 'description')"
                )
            q-card-actions(align="around")
              q-btn(flat color="secondary" label="Remove" @click="showPrompt")
              q-btn(outline color="primary" label="Apply Report" @click="$emit('select', report)")
              q-btn(outline color="amber" label="Preview" @click="e => onHandleReportViewRedirect(report)")
    div(class="modal-buttons row q-mt-md")
      q-btn(outline color="primary" label="Close" @click="$emit('cancel')")
</template>

<script>
import { openURL } from 'quasar';
import { mapGetters } from 'vuex';
import { chunk, set } from 'lodash';

export default {
  name: 'item-recommendations-reports-view',
  data() {
    return {
      rawReports: this.reports,
    };
  },
  created() {
    this.rawReports = this.reports;
  },
  watch: {
    rawReports: {
      handler(values) {
        this.$emit('change', values);
      },
      deep: true,
    },
  },
  props: {
    show: Boolean,
    reports: {
      type: Array,
      required: true,
    },
  },
  methods: {
    onHandleReportViewRedirect({ id: reportId, insurance_plan_type: type }) {
      const { id: plannerId } = this.plan;
      const { href } = this.$router.resolve({
        name: 'document.open.recommendation.report.preview',
        params: {
          plannerId,
          reportId,
        },
        query: {
          type,
        },
      });
      openURL(href);
    },
    modifyReportItem(value, report, field) { set(report, field, value); },
    showPrompt() {
      this.$q.notify({
        message: 'Not Available Yet',
        color: 'warning',
        icon: 'warning',
        position: 'top',
      });
    },
  },
  computed: {
    ...mapGetters('planner', {
      plan: 'plan',
    }),
    ...mapGetters('insuranceProviderReport', {
      getReportCategories: 'getReportCategories',
      getReportInsurancePlanTypes: 'getReportInsurancePlanTypes',
    }),
    getChunkedReports() {
      return chunk(this.rawReports, 3);
    },
    getContentStyles() {
      return {
        minWidth: '80vw',
        minHeight: '30vw',
      };
    },
  },
};
</script>
