<template lang="pug">
div(class="item__table" :id="id")
  div(class="row")
    div(class="col-md-12")
      h6(
        class="report-item__header text-center no-margin-top"
        :class="titleClass"
        v-text="title"
      )
  div(class="item__table--container" v-if="shouldShowTableContent")
    template(v-for="(provider, providerIndex) in rawValues")
      div(class="row q-mb-md")
        div(class="col-md-12 item__table--background")
          h6(v-text="provider.name" class="text-center" v-if="readOnly")
          q-input(
            v-else
            align="center"
            :value="provider.name"
            @change="v => modifyFields(provider, v, 'name')"
            class="full-width item__input--padding text-weight-bold"
          )
      div(
        class="item__table__body"
        v-for="(policy, policyIndex) in provider.policies"
        :class="{'item__table--background': (policyIndex % 2)}"
      )
        div(class="row align-top" v-if="!readOnly")
          div(class="col-md-6")
            p(class="text-weight-bold") Action
          div(class="col-md-6")
            q-btn(
              flat
              icon="remove"
              class="full-width"
              color="negative"
              @click.native="$emit('remove', providerIndex, policyIndex)"
            )
        div(class="row align-top")
          div(class="col-md-6")
            p(class="text-weight-bold") Policy Provider
          div(class="col-md-6")
            p(v-text="policy.provider" v-if="readOnly")
            q-input(
              v-else
              :value="policy.provider"
              @change="v => modifyFields(policy, v, 'provider')"
            )
        div(class="row align-top")
          div(class="col-md-6")
            p(class="text-weight-bold") Cover Type
          div(class="col-md-6")
            p(v-text="policy.cover_type" v-if="readOnly")
            q-input(
              v-else
              :value="policy.cover_type"
              @change="v => modifyFields(policy, v, 'cover_type')"
            )
        div(class="row align-top")
          div(class="col-md-6")
            p(class="text-weight-bold") Sum Assured
          div(class="col-md-6")
            p(v-text="tableMoneyFormat(policy.sum_assured)" v-if="readOnly")
            q-input(
              v-else
              type="tel"
              prefix="$"
              :value="policy.sum_assured"
              v-money="{precision: 2}"
              @change="v => modifyFields(policy, v, 'sum_assured')"
            )
        div(class="row align-top")
          div(class="col-md-6")
            p(class="text-weight-bold") Premium
          div(class="col-md-6")
            p(v-text="tableMoneyFormat(policy.premium)" v-if="readOnly")
            q-input(
              v-else
              type="tel"
              prefix="$"
              :value="policy.premium"
              v-money="{precision: 2}"
              @change="v => modifyFields(policy, v, 'premium')"
            )
        div(class="row align-top")
          div(class="col-md-6")
            p(class="text-weight-bold") Notes
          div(class="col-md-6")
            p(v-html="nltobr(policy.notes)" v-if="readOnly")
            q-input(
              v-else
              type="textarea"
              :value="policy.notes"
              :max-height="150"
              :rows="5"
              @change="v => modifyFields(policy, v, 'notes')"
            )
        div(class="row align-top" v-if="shouldShowComment(policy)")
          div(class="col-md-12")
            p(v-text="policy.comments" v-if="readOnly")
            q-input(
              v-else
              :rows="4"
              type="textarea"
              :max-height="120"
              :value="policy.comments"
              @change="v => modifyFields(policy, v, 'comments')"
            )
      div(class="row bottom-less")
        div(class="col-md-6")
          p(class="text-weight-bold") Total Monthly Premium
        div(class="col-md-6" v-text="tableMoneyFormat(getTotalMonthlyPremiumFromArray(rawValues))")
  div(v-if="!shouldShowTableContent && !hasComments")
    h6(class="text-faded text-center no-margin-top") No {{ title | lowerCase }} insurances have been disclosed
</template>

<script>
import { QInput } from 'src/components/quasar';
import { set, each, isEmpty, some, pick, lowerCase } from 'lodash';
import { floatFixer, floatTotals, numberWithCommas } from 'src/config/utils';

export default {
  name: 'item-recommendations-table',
  data: () => ({
    rawValues: [],
  }),
  created() {
    this.rawValues = this.values;
  },
  mounted() {
    this.$emit('load');
  },
  watch: {
    rawValues: {
      handler: 'rawValuesHandler',
      deep: true,
    },
    values: {
      handler: 'valuesHandler',
      deep: true,
    },
  },
  props: {
    hasComments: {
      type: Boolean,
      default: false,
    },
    values: {
      type: Array,
      required: true,
    },
    title: {
      type: String,
      default: 'Existing',
    },
    titleClass: {
      type: String,
      default: 'text-primary',
    },
    readOnly: {
      type: Boolean,
      default: false,
    },
    id: {
      type: String,
      default: 'item-recommendation-table'
    },
  },
  methods: {
    valuesHandler(values) {
      this.rawValues = values;
    },
    rawValuesHandler(values) {
      this.$emit('change', values);
    },
    tableMoneyFormat(v) {
      if (!v) return '';
      return `$${numberWithCommas(v)}`;
    },
    nltobr(v) {
      if (!v) return null;
      return v.replace(/(?:\r\n|\r|\n)/g, '<br />');
    },
    getTotalMonthlyPremiumFromArray(values) {
      const totals = [];
      each(values, ({ policies }) => {
        if (!isEmpty(policies)) {
          each(policies, ({ premium }) => {
            totals.push(Math.abs(numberWithCommas(premium, false)));
          });
        }
      });
      return window.parseFloat(floatTotals(totals)).toFixed(2);
    },
    modifyFields(policy, value, field) {
      set(policy, field, value);
    },
    shouldShowComment(policy) {
      if ((this.readOnly && this.hasComments) && some(pick(policy, ['comments']), isEmpty)) return false;
      return this.hasComments;
      // return this.hasComments && !_.some(_.omit(policy, ['notes']), _.isEmpty);
    }
  },
  filters: {
    lowerCase(value) {
      return lowerCase(value);
    },
  },
  computed: {
    shouldShowTableContent() {
      return some(this.values, ({ policies }) => policies.length);
    },
  },
  components: {
    QInput,
  },
};
</script>

<style lang="stylus" scoped>
@import '~variables'

.item__input--padding
  padding 30px

.item__table__body
  margin-top 1em
  margin-bottom 3em

.item__table--background
  background $table-stripe-color

.report-item__header
  font-size 2em !important

.align-top
  vertical-align top
  padding 0.5em 0 0 .5em

.bottom-less
  position absolute !important
  bottom 0
</style>
