<template lang="pug">
  q-page
    q-stepper(
      ref="stepper"
      @step="onHandleStepperChange"
      :vertical="$q.platform.is.mobile"
    )
      q-step(
        :order="1"
        icon="bubble chart"
        title="Item"
        subtitle="Recommendations"
        name="item-recommendations"
      )
        item-recommendations
    //- Floating Action Button
    include blocks/floating-action-button
</template>

<script>
import * as StepComponents from './steps';
import { FieldableMixin } from 'src/mixins';
import { mapGetters, mapMutations } from 'vuex';
import { isEmpty, toSafeInteger, head, isObject } from 'lodash';
import { initialState as plannerInitialState } from 'src/store/modules/planner/state';
import { reportResultSchema } from 'src/store/modules/insuranceProviderReport/state';

export default {
  name: 'planner-index',
  mixins: [FieldableMixin],
  watch: {
    plannerInstanceById: {
      handler: 'plannerInstanceByIdHandler',
    },
    '$route': {
      handler: 'routeHandler',
      immediate: true,
    },
  },
  methods: {
    ...mapMutations('insuranceProviderReport', ['UPDATE_REPORT_FORM_DATA', 'UPDATE_REPORT_RESULT_DATA']),
    ...mapMutations('site', ['UPDATE_PLANNER_STEP']),
    plannerInstanceByIdHandler(values) {
      const state = (isObject(values) && values.id) ? values : plannerInitialState();
      // this.ASSIGN_PLANNER(state);

      // if (state.id && state.reports.length) {
      //   const firstReportInstance = head(state.reports);
      //   this.UPDATE_REPORT_RESULT_DATA({
      //     value: firstReportInstance,
      //   });
      //   this.UPDATE_REPORT_FORM_DATA({
      //     value: firstReportInstance.id || null,
      //     field: 'currentSelectedReport',
      //   });
      // }
      // else {
      //   this.UPDATE_REPORT_RESULT_DATA({
      //     value: this.convertToNonReactive(reportResultSchema),
      //   })
      // }

      if (state.id && this.isOnline) {
        this.$q.notify({
          message: 'Auto Save Enabled',
          icon: 'verified_user',
          timeout: 1000,
          color: 'amber',
          position: 'top-right',
        });
      }
    },
    routeHandler({
      params: { id },
      query: { step },
    }) {
      // if (!toSafeInteger(id)) this.ASSIGN_PLANNER(plannerInitialState());
    },
    onHandleStepperChange(step = 'income-details') {
      this.UPDATE_PLANNER_STEP(step);
      // const { params: { id } } = await this.$route;
      // await this.$router.replace({
      //   name: 'dashboard.planner',
      //   params: { id },
      //   query: { step },
      // });
    },
    async onHandleNewInstance() {
      const { query: { step } } = await this.$route;
      this.$router.push({
        params: { id: 0 },
        name: 'dashboard.planner',
        // query: { step: step || 'income-details' },
      });
      this.ASSIGN_PLANNER(plannerInitialState());
    },
    async onHandlerSkip() {
      try {
        const step = await this.$q.dialog({
          title: 'Skip',
          message: 'Select a tab to skip',
          options: {
            type: 'radio',
            model: this.currentStep,
            items: this.mapDeterminedStepList,
          },
          cancel: true,
          preventClose: true,
          color: 'secondary',
        });
        this.$refs.stepper.goToStep(step);
      }
      catch (e) {}
    },
  },
  computed: {
    ...mapGetters('site', {
      currentStep: 'getPlannerStep',
    }),
    ...mapGetters('planner', {
      isSelfEmployed: 'isSelfEmployed',
      isEmployed: 'isEmployed',
      mapDeterminedStepList: 'mapDeterminedStepList',
    }),
    ...mapGetters('plannerCollection', {
      planners: 'planners',
      plannerInstanceById: 'getPlannerInstanceById',
    }),
    ...mapGetters('insuranceProviderReport', {
      hasFidelityOnPolicyProviderResults: 'hasFidelityOnPolicyProviderResults',
    }),
    getFabButtonSize() {
      return this.$q.platform.is.mobile ? 'md' : 'lg';
    },
  },
  components: {
    ...StepComponents,
  },
};
</script>
