@import '~variables';
@import './utils';

.vdp-datepicker,
.vdp-datepicker input
  width 100%

.vdp-datepicker__clear-button
  position absolute
  right 0
  top 1px
  width 10px

.vdp-datepicker__calendar .cell.selected
  color #fafafa !important
  background-color $primary !important

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover
  border 1px solid $primary !important

body.with-modal
  position fixed !important

.note-border-primary
  border-left 4px solid $blue-5 !important

.text-header-existing
  color $blue-5

.text-header-proposed
  color $green-5

.comparison-table-wrapper
  position relative
  padding-bottom 5em
