<template lang="pug">
  q-list(
    link
    highlight
    no-border
    inset-delimiter
  )
    q-list-header Main Menu
    q-item(replace exact to="/dashboard/app")
      q-item-side(icon="dashboard")
      q-item-main(label="Dashboard" sublabel="Overview")
    q-item(replace :to="getPlannerUrl")
      q-item-side(icon="event note")
      q-item-main(label="Planner" sublabel="Generate")
    q-item(replace to="/auth")
      q-item-side(icon="exit to app")
      q-item-main(label="Logout" sublabel="Exit Application")
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'dashboard-navigation-content',
  computed: {
    ...mapGetters('planner', {
      plan: 'plan',
    }),
    ...mapGetters('user', {
      isAdministrator: 'isAdministrator',
    }),
    getPlannerUrl() {
      return `/dashboard/planner/${this.plan.id}`;
    },
  },
};
</script>
