<template lang="pug">
  q-layout(view="lhr LpR lFf")
    q-layout-header(reveal)
      q-toolbar
        q-btn(
          flat
          round
          dense
          icon="menu"
          @click="showLeft = !showLeft"
        )
        q-toolbar-title Insurance Planner and Plan
    q-layout-drawer(
      side="left"
      v-model="showLeft"
      :content-class="$q.theme === 'mat' ? 'bg-grey-3' : null"
    )
      dashboard-navigation-content
    q-page-container
      transition(
        appear
        enter="fadeIn"
        leave="fadeOut"
      )
        router-view
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex';
import DashboardNavigationContent from 'src/components/dashboard/NavigationContent';

export default {
  name: 'dashboard-layout',
  data: () => ({
    showLeft: false,
  }),
  created() {
    if (!this.classificationUnits.length) this.requestClassificationUnits();
    if (!this.insuranceProviders.length) this.requestInsuranceProviders();
    this.requestPlannersFromApi();
  },
  methods: {
    ...mapActions('classificationUnit', ['requestClassificationUnits']),
    ...mapActions('insuranceProvider', ['requestInsuranceProviders']),
    ...mapActions('plannerCollection', ['requestPlannersFromApi']),
  },
  computed: {
    ...mapState('classificationUnit', {
      classificationUnits: state => state.data,
    }),
    ...mapGetters('insuranceProvider', {
      insuranceProviders: 'providers'
    }),
  },
  components: {
    DashboardNavigationContent,
  },
};
</script>
