template(v-if="arrayOfExistingPolicyProviders.length || arrayOfProposedPolicyProviders.length")
  div(class="row gutter-sm q-mt-md")
    div(class="col-md-6")
      q-btn(
        @click="previewAsPDF"
        flat
        color="secondary"
        class="full-width"
        icon="picture as pdf"
        label="Preview as PDF"
      )
    div(class="col-md-6")
      q-btn(
        flat
        color="secondary"
        class="full-width"
        @click="dialogSchema.customDialogModel = true"
        icon="save"
        label="Save as"
      )
  div(class="row q-mt-md")
    div(class="col-md-12")
      q-btn(
        flat
        color="primary"
        icon="clear_all"
        class="full-width"
        @click="clearTableFields"
        label="Clear"
      )
