div(class="row gutter-sm q-mt-md comparison-table-wrapper")
  div(class="col-md-6")
    item-recommendations-table(
      @load="renderTableSameHeight"
      title-class="text-header-existing"
      id="item-recommendation-table-existing"
      :values="arrayOfExistingPolicyProviders"
      @change="v => arrayOfExistingPolicyProviders = v"
      @remove="removePoliciesFromArrayOfExistingPolicyProviders"
    )
  div(class="col-md-6")
    item-recommendations-table(
      has-comments
      title="Proposed"
      @load="renderTableSameHeight"
      title-class="text-header-proposed"
      id="item-recommendation-table-proposed"
      :values="arrayOfProposedPolicyProviders"
      @change="v => arrayOfProposedPolicyProviders = v"
      @remove="removePoliciesFromArrayOfProposedPolicyProviders"
    )
